[submodule ".vim/vendors/pathogen"]
	path = .vim/vendors/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/activity-log"]
	path = .vim/bundle/activity-log
	url = git://github.com/AD7six/vim-activity-log.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/mattn/gist-vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerd-tree"]
	path = .vim/bundle/nerd-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
